<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="icon" href="/img/logoJFB.png">
    

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="modal" id="modalAluno">
        <div class="modal-content">
            <header class="modal-header">
                <img src="/img/logoJFB.png" class="modal-img" alt="">
                <h2>Nova Matricula</h2>
            </header>
            <form action="/alunos" method="POST" class="modal-form">
                <input class="modal-field" placeholder="Nome" type="text" name="nome" required/> 
                <input class="modal-field" placeholder="CPF" type="text" name="cpf" required/> 
                <input class="modal-field" placeholder="Nascimento" type="date" name="nasc" required/>
                <input class="modal-field" placeholder="Cidade/Estado" type="text" name="naturalidade" required/>
                <input class="modal-field" placeholder="Curso" type="text" name="curso"required/>
                <input class="modal-field" placeholder="Turma" type="text" name="turma"required/>
                <input class="modal-field" placeholder="Turno" type="text" name="turno"required/>
                <input class="modal-field" placeholder="Módulo" type="text" name="modulo"required/>
                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <button class="button green" id="cadClose" onclick="fecharModalAluno()" type="button">Fechar</button>
                </div>
            </form>
        </div>
    </div>


    <div class="modal" id="modalUser">
        <div class="modal-content">
            <header class="modal-header">
                <img src="/img/logoJFB.png" class="modal-img" alt="">
                <h2>Novo Usuário</h2>
            </header>
            <form action="/usuarios" method="POST" class="modal-form">
                <input class="modal-field" placeholder="Login" type="text" name="login"required/> 
                <input class="modal-field" placeholder="Senha" type="password" name="senha" required/>
                <input class="modal-field" placeholder="Confirmação de Senha" type="password" name="confirm"required/>

                <div class="caduser-boxinput">
                    <label class="modal-label" for="admin">Admin</label>
                    <input class="modal-checkbox" value="true" name="admin" id="admin" type="checkbox">
                </div>
                    
                <div class="modal-buttons">
                    <button class="button green" type="submit">Enviar</button>
                    <button class="button green" id="caduserClose" onclick="fecharModalUser()" type="button">Fechar</button>
                </div>
            </form>
        </div>
    </div>
    {{{body}}}
</body> 
</html>